h1{color: darkgreen;

}
.paragrafo{color: darkblue;
font: small-caps;
}

p{ font: smaller;
;}

h2{
    text-align: center;
    color: rgb(7, 0, 100);
    font-size: 200%
}

.a{padding:10px 8px;
    width:50px;
    color: aliceblue;
    background: darkorange;
    border:1px solid #555;
    border-radius: 5px;
    text-align: center;
    user-select: none;
    cursor:pointer;
transition: 1s background;}

 .a:hover{
    background: rgb(255, 163, 50);

 }
