h1{color: darkgreen;

}
.paragrafo{color: darkblue;
font: small-caps;
}

p{ font: smaller;
;}

h2{
    text-align: center;
    color: rgb(7, 0, 100);
    font-size: 200%
}

#dov{
    display: flex;
    justify-content: center;
}

a{ text-decoration: none;
color: darkorange;
}

a:hover{
    color: rgb(255, 190, 110);
}