h1{color: darkgreen;

}
.paragrafo{color: darkblue;
font: small-caps;
}

p{ font: smaller;
    font-size: 100%
;}

h2{
    text-align: center;
    color: rgb(7, 0, 100);
    font-size: 200%
}

#dov{
    display: flex;
    justify-content: center;
}

a{padding: 10px 8px;
    width: 50px;
    color:floralwhite;
    background: darkorange;
    border: 1px solid #555;
    border-radius:5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: rgb(255, 190, 110);
}

#cabecalho{ 
    background: darkorange;
    color: #fff;
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: 400%;
}

#rodape{ background: darkblue;
    color: #fff;
    margin: 0%;
    padding: 0cap;
    text-align: center;
    font-size: 350%;

}
